@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #10B981;
    --off-white: #F3F4F6;
    --dark-gray: #374151;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px
}

hr {
    margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
    margin: 2rem;
}

/** container **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 800px;
    margin: auto;
   
}


/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    
    /* margin-top: 5rem;
    margin-bottom: 1rem; */
}

.link-primary {
    background-color: var(--primary-color); 
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color); 
    color:var(--primary-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
}



/** lists **/

.list-non-bullet {
    list-style: none;
}

.list-non-bullet .list-item{
    margin: 50px 0rem;
}
.list-non-bullet .list-item-alternate{
    margin: 50px 0rem;
    background-color: #E4E4E7;
    padding : 1rem,0rem;
}
.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}
.list-non-bullet .list-item-inline .list-item-pic{
    max-width: 200px;
    display: inline-block;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    width:100%;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 25px;
}

 .nav-pills {
    text-align: right;
}

 .link {
    color: white;
    font-size: 18px;
    font-family: 'Arial', Helvetica, sans-serif;
}

 .link-active {
    font-weight: bold;
}

/** header **/

.hero {
    padding: 1rem;
    padding-top: 5rem;
    
}

.hero .hero-img {
    max-width: 300px;
    display: block;
    margin: auto;   
}


.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color : var(--dark-gray)
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.hero .hero-project-pic{
    max-width: 300px;
    display: block;
    margin: auto;   
}
.hero .hero-blog-pic{
    max-width: 300px;
    display: block;
    margin: auto;   
}

/** sections **/

.section {
    padding: 1rem;
}

.section h1 {
    text-align: center;
}
.section .skill-heading{
    text-align: center;
    color: var(--dark-gray);
    padding-top: 0.5rem;
    color:#065F46;
}
.section h2 {
    text-align: center;
    /* color: var(--dark-gray); */
    padding-top: 1rem;
   
   

}
.section .skills{
    background-color: #A7F3D0;
    text-align: center;
}


.ow {
    background-color: var(--off-white);
}

/** footers **/

.footer {
    background-color: #047857;
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

/* .footer .link {
    color:white;
    font-size: 20px;
    font-weight: bold;
} */

.footer .footer-header {
    font-weight: bold;
    font-size: 25px;
}

.footer ul {
    padding-inline-start: 0px;
}

/**Social Media buttons **/
.footer .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .footer .fa:hover {
    opacity: 0.7;
}

  .footer .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  

  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-github{
      background: var(--off-white);
  }
